<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Cache-Control" content="no-transform " />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="applicable-device" content="pc,mobile">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <title>纸上烤鱼 - 磁力链接,BT种子搜索,磁力搜索引擎</title> 
  <meta name="keywords" content="磁力链接,种子搜索,BT种子,种子搜索神器,磁力搜索,BT搜索,磁力搜,磁力链,磁力链接搜索,BT种子搜索" /> 
  <meta name="description" content="BT网磁力链接搜索引擎索引收录了最新最热门的BT种子磁力链接，专业提供种子搜索、BT搜索、磁力搜索功能，上亿级的数据量是您下载电影、音乐、游戏、小说、电子书、动漫等BT种子磁力链接的最佳种子搜索神器。" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" /> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}"/>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}"/>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='muerbt.css')}}" /> 
 </head> 
 <body> 
  <div class="wrapper">
<div class="bkl"></div>
  <div class="p-wrapper">
    <div class="bobologo mb15"><a href="/"><img src="{{ url_for('static', filename='muerbt.png')}}" alt="磁力搜索 BT种子搜索利器 免费下载BT种子，超4000万条种子数据" /></a></div>
    <div class="searchbox">
      <form action="{{url_for('search',category=0,page=1)}}" name="search" id="searchFrom" method="POST"  >
  <div class="search">
{{form.hidden_tag()}}
          <div class="sbtn"><button value="磁力搜索" type="submit" >磁力搜索</button></div>
<div class="wd" >
{{form.search(id="search",placeholder="输入关键词搜索BT种子...",autocomplete = "on" ,autofocus="autofocus")}}
</div>
        </div>
      </form>
    </div>

<div class="f16 mt15 mb15">无聊的时候，就来<b>{{sitename}}</b>找找最新电影、电视、音乐、游戏解解闷！ :-)</div>
    <div class="addthis_inline_share_toolbox_fkn6"></div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5801fd685f6cee91" async="async"></script><span class="red f14">亲，你知道吗？下载的人越多速度越快，赶快把本页面分享给好友一起下载吧^_^</span>
    <div class="tbox"> 
          <div class="ssbox"> 
            <div class="title"> <h3><span class="f14">热门搜索</span></h3> </div> 
            <div class="rms">
            {%for k in keywords%}
            <a href="{{url_for('search_results',query=k.keyword,category=0,order=0,page=1)}}" target="_blank">{{k.keyword}}</a>
            {%endfor%}
            </div> 
          </div> 
        </div>
<span class="f14" ><strong><span style="color: #ff0000;">友情提示：同时按<span style="background-color: #ff6600; color: #ffffff;">Ctrl+D</span>可快速添加本站到收藏夹!</span></strong></span></div>
  </div>

{%include'footer.html'%}

</body>
</html>
